    <div class= "mt-4 mr-5 d-flex justify-content-center">タイトル</div>
    <div class= "ml-5 pl-5 my-2 d-flex justify-content-center font-weight-bold" style= "color: red;"><%= @recruiting.title %></div>

    <div class= "mt-3 mr-5 d-flex justify-content-center">コメント</div>
    <div class= "ml-5 pl-5 my-2 d-flex justify-content-center font-weight-bold" style= "color: red;"><%= @recruiting.comment %></div>

    <div class= "mt-3 mr-5 d-flex justify-content-center">希望日時</div>
    <div class= "ml-5 pl-5 my-2 d-flex justify-content-center font-weight-bold" style= "color: red;"><%= @recruiting.datetime %></div>

    <div class= "mt-3 mr-5 d-flex justify-content-center">集合場所</div>
    <div class= "ml-5 pl-5 my-2 d-flex justify-content-center font-weight-bold" style= "color: red;"><%= @recruiting.place %></div>